
<body id="home">
	<div class="title">Zall Group Chat</div>
	<div class="description"><%= settings.welcomemessage.value %></div>
	<div class="login"><a id="login" href="/twitter">Sign in with the Twitter</a></div>
</div>
