
<body id="home">
<div class="title"><%= settings.hometitle.value %></div>
  <div class="top">
	 
 </div>
 <div class="bottom">
  	<div class="description"><%= settings.welcomemessage.value %></div>
  	<div class="login"><a id="login" href="/twitter">Sign in with the Twitter</a></div>
    <a class="skip" href="/messages"><% if (session._user) { %>You're already logged in! <span class="link">Skip to chat.</span><% } else { %><!--<span class="link">I don't have a twitter.</span>--><% } %></a>
    <div class="end">Have a great day!</div>
  </div>
</div>
