<body id="home">
<div class="title">Zall Chat</div>
  <div class="top">
   
 </div>
 <div class="bottom">
 <div class="description">Zall Chat is being updated and is temporarily unavailable. Check back in a few minutes! Check the bio of <a href="https://twitter.com/ZallChat">@ZallChat</a> for updates!<% if (session._user.admin || session._user.owner) { %> However, because you are an admin you can can access messages by clicking <a href="/messages?maintenance=false">here</a>.<% } %></div>
    <div class="end">Have a great day!</div>
  </div>
</body>
